services:
  easy-buy-backend:
    image: crpi-pnda4wyku982ifaa.ap-southeast-5.personal.cr.aliyuncs.com/shirloin/easy-buy-backend:latest
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: easy-buy-backend
    ports:
      - "6543:6543"
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - SECRET_KEY=${SECRET_KEY}
      - ORIGIN=${ORIGIN}
      - CREDENTIALS=${CREDENTIALS}
      - LOG_LEVEL=${LOG_LEVEL}
